AccountClient/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAccountService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AccountDomain.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_getCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomer" />
  </wsdl:message>
  <wsdl:message name="IAccountService_getCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_getCustomerList_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerList" />
  </wsdl:message>
  <wsdl:message name="IAccountService_getCustomerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerListResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_addCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:addCustomer" />
  </wsdl:message>
  <wsdl:message name="IAccountService_addCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_deleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteCustomer" />
  </wsdl:message>
  <wsdl:message name="IAccountService_deleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_addOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:addOrder" />
  </wsdl:message>
  <wsdl:message name="IAccountService_addOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:addOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_deleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteOrder" />
  </wsdl:message>
  <wsdl:message name="IAccountService_deleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_getOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrders" />
  </wsdl:message>
  <wsdl:message name="IAccountService_getOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="getCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/getCustomer" message="tns:IAccountService_getCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/getCustomerResponse" message="tns:IAccountService_getCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerList">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/getCustomerList" message="tns:IAccountService_getCustomerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/getCustomerListResponse" message="tns:IAccountService_getCustomerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/addCustomer" message="tns:IAccountService_addCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/addCustomerResponse" message="tns:IAccountService_addCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/deleteCustomer" message="tns:IAccountService_deleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/deleteCustomerResponse" message="tns:IAccountService_deleteCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/addOrder" message="tns:IAccountService_addOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/addOrderResponse" message="tns:IAccountService_addOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/deleteOrder" message="tns:IAccountService_deleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/deleteOrderResponse" message="tns:IAccountService_deleteOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/getOrders" message="tns:IAccountService_getOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/getOrdersResponse" message="tns:IAccountService_getOrders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAccountService" type="tns:IAccountService">
    <wsp:PolicyReference URI="#NetTcpBinding_IAccountService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getCustomer">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/getCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerList">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/getCustomerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCustomer">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/addCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCustomer">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/deleteCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addOrder">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/addOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteOrder">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/deleteOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrders">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/getOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="NetTcpBinding_IAccountService" binding="tns:NetTcpBinding_IAccountService">
      <soap12:address location="net.tcp://localhost:42102/AccountService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:42102/AccountService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>EXECUTIONER\FortyTwo</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>